.subject-title {
  text-align: right;
  grid-column: 2 / span 1;
  cursor: pointer;
}

.subject-content,
.collapse {
  grid-column: 1 / span 2;
  text-align: left;
}

.collapse {
  cursor: pointer;
  color: blue;
}

.subject-content,
.subject-title {
  font-size: 20px;
}

.content-line,
.collapse {
  padding-left: 10px;
}

.bold {
  font-weight: 900;
}

.clickable {
  color: blue;
  font-style: italic;
}
