.subject-title {
  text-align: right;
  grid-column: 2 / span 1;
}

.subject-title.clickable {
  cursor: pointer;
}

.subject-content,
.collapse {
  grid-column: 1 / span 2;
  text-align: left;
}

.collapse {
  cursor: pointer;
  color: blue;
  text-align: center;
}

.content-line,
.collapse {
  padding-left: 10px;
}

.bold {
  font-weight: 900;
}

.italics {
  font-style: italic;
}

.clickable {
  color: blue;
  font-style: italic;
}

.paragraph {
  margin: 2.5px 0;
}
