.App {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 20px;
  min-height: 97vh;
  margin-bottom: -50px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 12, 12);
}

.App-link {
  color: #61dafb;
}

footer,
.push {
  height: 50px;
  text-align: center;
}
