.App {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
  min-height: 97vh;
  margin-bottom: -50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 12, 12);
}

.App-header .date {
  margin-top: -10px;
}

.helper-text {
  margin-top: -5px;
}

.App-link {
  color: blue;
}

footer,
.push {
  height: 50px;
  text-align: center;
}
